<div class="header_container">
    <div class="left_container">
        <ul class="logo">
            <%if(styleNo==0){%>
                <li><a href="#"> DG's portfolio</a></li>
                <% }else if(styleNo !=0){%>
                    <li><a href="/"> DG's portfolio</a></li>
                    <%} %>
        </ul>
    </div>
    <div class="right_container">
        <ul>
            <li><a href="/aboutme"> About me</a></li>
            <li><a href="/skills"> Skills</a></li>
            <li><a href="/projects"> Projects</a></li>
            <li><a href="/archiving"> Archiving</a></li>
        </ul>
    </div>
</div>